@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Canvas.css" rel="stylesheet" />
<script src="~/Scripts/Canvas.js"></script>

<main>
    <canvas id="canvas" width="800" height="600"></canvas>
</main>
<div class="slidecontainer">
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
</div>
